Repository touch-flow-team/touch-flow, pull requests merged in 2024-02, with the labels that each got.

#28 [Feat](Auth) Auth 관련페이지 유효성 검사 및 ui 구현
  frontend/app/auth/signin/page.tsx
  frontend/app/auth/signup/page.tsx
  frontend/components/auth/AuthForm.tsx
  frontend/components/auth/AuthInput.tsx
  frontend/lib/zodSchema.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/auth/auth_bg.png
Labels: ui, frontend, feature

#46 [Refactor]Auth 오류 메세지 핸들링 보안 / 새로운 디렉토리 구조에 맞게 재설계
  frontend/components/auth/AuthForm.tsx
  frontend/components/auth/AuthInput.tsx
  frontend/hooks/auth/useLogout.ts
  frontend/hooks/auth/useSignin.ts
  frontend/hooks/auth/useSignup.ts
Labels: frontend, refactor

#48 [Refactor] 대시보드 리팩토링
  backend/pb_migrations/1708350549_updated_products.js
  backend/pb_migrations/1708501382_updated_products.js
  backend/pb_migrations/1708669322_updated_companies.js
  backend/pb_migrations/1708676450_updated_users.js
  backend/pb_migrations/1708676538_updated_users.js
  backend/pb_migrations/1708676787_updated_companies.js
  backend/pb_migrations/1708846020_updated_categorys.js
  frontend/app/companies/[id]/(dashboard-admin)/category/page.tsx
  frontend/app/companies/[id]/(dashboard-admin)/product/page.tsx
  frontend/components/categories/Button.tsx
  frontend/components/categories/CategoryTable.tsx
  frontend/components/categories/DeleteModal.tsx
  frontend/components/categories/Header.tsx
  frontend/components/categories/ManageCategoryForm.tsx
  frontend/components/categorys/CategoryTable.tsx
  frontend/components/categorys/Header.tsx
  frontend/components/common/Modal.tsx
  frontend/components/companies/WaitingDashboardList.tsx
  frontend/components/companies/WaitingDashboardSettings.tsx
  frontend/components/companies/WaitingListCard.tsx
  frontend/components/companies/WaitingSettingsModal.tsx
  frontend/components/product/CategoryList.tsx
  frontend/components/product/ClientLayer.tsx
  frontend/components/product/Header.tsx
  frontend/components/product/HeaderButton.tsx
  frontend/components/product/ProductManageForm.tsx
  frontend/components/product/ProductTable.tsx
  frontend/constants/column.ts
  frontend/hooks/auth/useSignin.ts
  frontend/hooks/auth/useSignup.ts
  frontend/hooks/categorys/dummy.ts
  frontend/hooks/products/dummy.ts
  frontend/libs/getImageData.ts
  frontend/libs/pockebase.ts
  frontend/libs/pocketbase.ts
  frontend/libs/utils.ts
  frontend/next.config.mjs
  frontend/schemata/categorys/dummy.ts
  frontend/schemata/categorys/validation.ts
  frontend/schemata/products/dummy.ts
  frontend/server-actions/categories/category.ts
  frontend/server-actions/categorys/createCategory.ts
  frontend/server-actions/categorys/deleteCategory.ts
  frontend/server-actions/categorys/getCategory.ts
  frontend/server-actions/categorys/updateCategory.ts
  frontend/server-actions/products/createProduct.tsx
  frontend/server-actions/products/deleteProduct.tsx
  frontend/server-actions/products/getProduct.tsx
  frontend/server-actions/products/product.ts
  frontend/server-actions/products/updateProduct.tsx
  frontend/types/category/type.ts
  frontend/types/categorys/dummy.ts
  frontend/types/product/type.ts
  frontend/types/products/dummy.ts
Labels: frontend, refactor

#66 [Fix] 변경된 파일 구조에 맞춰 상수 임포트 주소 변경
  frontend/app/companies/[id]/page.tsx
  frontend/app/page.tsx
  frontend/constants/constants.ts
  frontend/middleware.ts
Labels: frontend, chore
