Repository touch-flow-team/touch-flow, pull requests merged in 2024-03, with the labels that each got.

#79 Feat/67 payment module
  frontend/app/companies/[id]/page.tsx
  frontend/components/companies/ConterButton.tsx
  frontend/components/companies/MenuCard.tsx
  frontend/components/companies/MenuCards.tsx
  frontend/components/companies/PaymentItem.tsx
  frontend/components/companies/PaymentItems.tsx
  frontend/components/companies/PaymentModal.tsx
  frontend/components/companies/ShopingCartItem.tsx
  frontend/components/companies/ShopingCartItems.tsx
  frontend/hooks/companies/useCartQuantity.ts
  frontend/package.json
  frontend/types/product/type.ts
Labels: frontend, feature

#85 [Fix](PokcetBase) 충돌 생시는 orders 관련 모델 해결
  backend/pb_migrations/1709111685_created_management_orders.js
  backend/pb_migrations/1709111722_updated_order_display.js
  backend/pb_migrations/1709111747_updated_management_orders.js
  backend/pb_migrations/1709115570_updated_management_orders.js
  backend/pb_migrations/1709520879_deleted_management_orders.js
  backend/pb_migrations/1709520885_deleted_orders.js
Labels: bug, backend

#94 [Feat] 주문 현황 페이지 로딩, 에러 핸들링
  frontend/app/companies/[id]/display-order/error.tsx
  frontend/app/companies/[id]/display-order/page.tsx
  frontend/components/display-order/Header.tsx
  frontend/components/display-order/skeleton/FallbackHeader.tsx
  frontend/components/display-order/skeleton/FallbackOrderCard.tsx
  frontend/components/product/CategoryList.tsx
  frontend/components/product/ClientLayer.tsx
  frontend/components/product/ProductTable.tsx
Labels: frontend, feature

#98 [Feat](Payment) 스타일 변경 및 상품 모델링 수정
  backend/pb_migrations/1709858376_updated_companies.js
  backend/pb_migrations/1709858466_updated_categories.js
  backend/pb_migrations/1709861092_updated_products.js
  frontend/app/companies/[id]/page.tsx
  frontend/components/categories/CategorySkeletonCard.tsx
  frontend/components/companies/CategoryList.tsx
  frontend/components/companies/MenuCards.tsx
  frontend/components/companies/PaymentItems.tsx
  frontend/components/companies/PaymentModal.tsx
  frontend/components/companies/ShopingCartItems.tsx
  frontend/components/product/ProductSkeletonCard.tsx
  frontend/hooks/companies/useCartQuantity.ts
  frontend/types/product/type.ts
Labels: ui, backend, frontend, refactor

#101 [Feat](Main) 상단 디자인 구현 1차
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/ui/navigation-menu.tsx
  frontend/package.json
  frontend/public/main/main-top-1.jpeg
  frontend/public/main/nextjs.png
  frontend/public/main/pocketbase.png
  frontend/public/main/react-hook-form.png
  frontend/public/main/recharts.png
  frontend/public/main/shadcn.png
  frontend/public/main/tailwind-css.png
  frontend/public/main/tosspay.png
  frontend/public/main/twilio.png
  frontend/public/main/typescript.png
Labels: ui

#107 [♻️Refactor] 캘린더 컴포넌트 리팩토링 및 상수 변경
  frontend/app/companies/[id]/(dashboard-admin)/calendar/page.tsx
  frontend/components/calendar/Calendar.tsx
  frontend/components/calendar/CalendarModel.tsx
  frontend/components/calendar/CalendarView.tsx
  frontend/components/calendar/DataTable.tsx
  frontend/components/calendar/HistoryModal.tsx
  frontend/components/calendar/TotalRevenue.tsx
  frontend/constants/constants.ts
  frontend/hooks/companies/useCalendar.ts
  frontend/hooks/companies/useHistoriesAndOrders.ts
  frontend/types/companies/calendar/type.ts
Labels: frontend, refactor, perf

#109 [♻️Refactor] 카테고리 컴포넌트 리팩토링 진행 및 서버엑션 공통함수 생성
  frontend/components/categories/CategoryTable.tsx
  frontend/components/common/Modal.tsx
  frontend/hooks/categories/useCategoryActions.ts
  frontend/hooks/categories/useModalState.ts
  frontend/server-actions/common/common.ts
  frontend/server-actions/common/dummy.ts
Labels: frontend, refactor
